*{
margin : 0;
padding : 0;
box-sizing: border-box;
}

nav
{
	display: flex;
	text-align : center;
	justify-content: space-between;

}
nav 
{
	position: relative;
}
nav::before
{
content : "";
width : 100%;
height : 100%;
background-color:#000;

z-index : -1;
position: absolute;

}
nav .logo
{
	margin : 20px;
	padding : 10px;
}
nav .logo h1
{
	color : pink;
	font-weight : bold;
	font-size: 20px;
}
nav .logo h1 span
{
	color : white;
}

.navbar ul
{
	display: flex;
}
.navbar ul li
{
	list-style: none;
	margin-top: : 20px;
	margin :  10px;
padding: 10px;
}
.navbar ul li a
{
	font-family: 'Titillium Web', sans-serif;
	text-decoration: none;
	color : white;
	font-size : 20px;
}
.navbar ul li::after
{
	content :"";
	height :2px;
	background-color : pink;
	display: block;
	width : 0%;
	transition: all 0.5s linear;

}
.navbar ul li:hover::after
{
 width : 100%;
}
.home
{
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
height: 450px;

}
.home::before
{
	content : "";
	position: absolute;
	background: url('portfolio-background.jpg') no-repeat center center/cover;

	height : 100%;
	top : 0px;
	left : 0px ;
	width : 100%;
	z-index :-1;
	
}
.home h1
{
	font-family: 'Baloo Bhai', cursive;

	color : #ee82ee;
	font-size: 60px;
	margin-bottom: 10px;


}
.home .hkk
{
	font-family: 'Baloo Bhai', cursive;

	color : white;
	font-size: 40px;

}

 .change_content:after
{
	content: '';
	
	animation:  change_text 10s infinite linear;
	color : white;
}
@keyframes change_text{
	0%{
		content : "Web Developer";
	}
	50%{
		content :"Data Scientist";
	}
	100%{
		content: "Machine learning Enthusiast";

	}
}
.row a
{
	color : white;
	margin : 10px;
	padding : 10px;
}
.row a 
{
	margin-right: 10px;
	font-size: 20px;
}
.about
{
	background-color : black;
	opacity : 0.8;
	padding : 100px 50px;
}
.about
{
	margin-top : 110px;
}

.about h1
{

	text-align: center;
	color : yellow;
	margin-bottom: 60px;
	font-size: 40px;

}

 .container

{

	display: flex;
	align-items: center;
}

.rowimg 
{
	flex-basis: 40%;

}
.rowimg img 
{
	
	width: 100%;
	height : 50vh;
}
.rowabout
{
	flex-basis: 60%;
	padding : 0px 40px;

}
.rowabout p
{
	font-family:  cursive;
	color : white;
	font-size : 25px;


}

.skills h1
{
	padding: 20px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 50px;
	
}
.pro
{
	text-align: center;
	

}
.skills
{
	background-color : orange;
	width : 100%;
	height : 190vh;
}
.skills h1
{
 color : red;
}
/*.pro progress
{
	width : 70%;
	height : 5vh;

}*/
 .skallo
{
	font-size: 30px;
	font-weight: bold;
	color : red;

}
.pro 
{

	display: flex;
	flex-direction: row;
}
 .prorow 
{

	flex-basis: 50%;
	padding : 20px;
	margin-left : 20px;
	margin-right: 20px;
	margin-bottom: 20px;

	
}
.pro .prorow progress
{

	width : 70%;
	height : 5vh;
}
.promore
{
	background-color : #000;
	margin : 0px 100px 0px 100px;
	text-align: center;
	padding : 20px 0px;
}
.promore progress 
{
	width : 70%;
	height: 5vh;
}

.skills p
{
	color : yellow;
}
.project
{
	background-color :#87CEEB;
	height: 40vh;
	width : 100%;
}
.project h1
{
	text-align: center;
}
.project  .spa
{
	

   margin-top : 30px;
	color : white; 
	font-size: 40px;
	font-weight: bold;
}
.proj
{
	display: flex;

}
.rowj
{
 flex-basis: 25%;
 
  color : white;

 margin : 25px;
 padding : 10px;
}
.rowj h1

{
	margin-bottom: 20px;
	text-align: center;

}
.rowj p
{
text-align: center;
}

.project .spa
{
	padding : 10px;
}
.h-primary
{
	font-size: 40px;
	color : #87CEEB;
	padding : 30px;
}


#contact-box label{
   font-size: 1.3rem;
   font-family:  'Baloo Bhai', cursive;
   color : #87CEEB;

}
#contact-box
{
	width : 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
   padding-left : 6rem;
   padding-right: 6rem;
   padding-top : 0.5rem;
   padding-bottom: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 
.btn
{
	font-size: 1.5rem;
	background-color: #87CEEB;
	color : white;
	text-align: center;
	align-items: center;
	width : 100%;
	margin-top: 20px;
	font-family:  'Baloo Bhai', cursive;
	border-style: none;



}
footer
{
	background-color:#000;

	width : 100%;

}
footer p
{
	text-align: center;
	color : yellow;
	font-size: 30px;
	padding-top:10px;
	padding-bottom: 10px;

}
